{% extends 'base.html.twig' %}



{% block body %}


<div style="height:500px; padding:20px;">
	<form method="POST" action="GuardarPermisos">
		<div class="text-right" style="padding:20px">
			<button type="submit" class="btn btn-primary btn-sm"> Guardar </button>
		</div>
		<table class="table text-center" >
			<thead>
				<tr>
					<th>Perfil</th>
					<th>Agregar</th>
					<th>Editar</th>
					<th>Eliminar</th>
					<th>Subir CSV</th>
					<th>Descargar Excel</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Consultor</th>
					<td> <input type="checkbox" name="ConsAdd"      {{ permisos[0]==null? '':'checked' }}> </td>					
					<td> <input type="checkbox" name="ConsEdit"     {{ permisos[1]==null? '':'checked' }}> </td>
					<td> <input type="checkbox" name="ConsDel"      {{ permisos[2]==null? '':'checked' }}> </td>
					<td> <input type="checkbox" name="ConsUpload"   {{ permisos[3]==null? '':'checked' }}> </td>
					<td> <input type="checkbox" name="ConsDownload" {{ permisos[4]==null? '':'checked' }}> </td>
				</tr>
				<tr>
					<th>Usuario</th>
					<td> <input type="checkbox" name="UsuAdd"      {{ permisos[5]==null? '':'checked' }}> </td>
					<td> <input type="checkbox" name="UsuEdit"     {{ permisos[6]==null? '':'checked' }}> </td>
					<td> <input type="checkbox" name="UsuDel"      {{ permisos[7]==null? '':'checked' }}> </td>
					<td> <input type="checkbox" name="UsuUpload"   {{ permisos[8]==null? '':'checked' }}> </td>
					<td> <input type="checkbox" name="UsuDownload" {{ permisos[9]==null? '':'checked' }}> </td>
				</tr>
			</tbody>
		</table>
	</form>
</div>






{% endblock %}
